html{
    font-size: 62.5%;
}
@media(max-width:998px) {
    html{
        font-size:55%;
    }   
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}

.navbarclass{
    background-color: #142850;
    padding-left: 10.0rem;
}
.navlogo{
    padding: 0%;
    border-radius:100% ;
    height: 50px;
    width: 50px;
}
.navlogo1{
    padding: 0%;
    border-radius:100% ;
}
.nav-link{
    color: white ;
    font-size:2.5rem;
}
.logintext{
    margin-left: 25rem;
}
.color-me{
    color: white !important;
}
.container-fluid{
    padding: 3% 10%;
}
.text{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size:3.5rem;
}
.abc{
    padding-left: 2.5rem;
    padding-right:2.5rem;
}
.imgdiv{
    padding:0%;
}
.texta{
    color: white;
    font-size: 4.5rem;
    padding-top: 2%;
    text-align: center;
}
.textb{
    color: white;
    font-size: 2.5rem;
    padding-top: 2%;
    padding-left: 2%;
}
.pg{
    background-color: #142850;
    height: 100%;
    width: 100%;
}

/***other part***/
.bar{
    color: black;
    font-size: 2rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 10%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ABEBFF;
  }
